<h2>Patricks Lilla Bokaffär</h2>

<form action="@Url.Action("BookSearch", "BookStore")" method="post">
    <input type="text" name="searchString" value="" />
    <input type="submit" value="Sök böcker" />
</form>

